header {
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg-color-dark);
  border-bottom: 2px solid var(--text-color);
}
header .logo {
  color: var(--text-color);
}
header nav .link {
  text-decoration: none;
  color: var(--text-color);
  margin: 0 1rem;
}
header nav .link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
  header .logo {
    margin-bottom: 1rem;
  }
}
