.form {
  flex-direction: column;
  padding: 2rem 0;
}
.form * {
  color: var(--text-color);
}
.form > * {
  width: 80vw;
}
.form h1 {
  margin: 0.5rem 0;
  text-decoration: underline;
}
.form textarea {
  height: 15rem;
  font-size: 1.3rem;
  background-color: var(--bg-color-dark);
  border: none;
  padding: 1rem;
  border-bottom: 2px solid var(--text-color);
}
.buttons {
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
}
.buttons button {
  margin: 0 1rem;
  padding: 0.3rem 1rem;
  background-color: var(--bg-color-dark);
  font-size: 1.3rem;
  border: none;
  border-bottom: 2px solid var(--text-color);
  transition: 200ms;
}

.buttons button:hover {
  box-shadow: 0 0 0 2px var(--text-color);
}
.summary h1 {
  margin: 2rem 0 1rem 0;
}
.summary li {
  margin: 0.3rem 0;
}
@media screen and (max-width: 500px) {
  .form > * {
    width: 90vw;
  }
  .form {
    padding: 1rem 0;
  }
  .form h1 {
    font-size: 1.5rem;
  }
  .form textarea {
    font-size: 1rem;
  }
  .buttons button {
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
  }
  .summary {
    padding: 0 1rem;
  }
}
