:root {
  --bg-color: rgb(15, 15, 15);
  --bg-color-dark: rgb(25, 25, 25);
  --text-color: rgb(175, 239, 255);
}
.lightMode {
  --bg-color: rgb(240, 240, 240);
  --bg-color-dark: rgb(255, 255, 255);
  --text-color: rgb(0, 78, 180);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-color-dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}
body {
  background-color: var(--bg-color);
}
.flex {
  display: flex;
  align-items: center;
}
