:root {
  --bg-color: rgb(15, 15, 15);
  --bg-color-dark: rgb(25, 25, 25);
  --text-color: white;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
}
.flex {
  display: flex;
  align-items: center;
}
